<td><%= link_to traffic_ranking.name, station_path(traffic_ranking.id) %></td>
<td><%= link_to commercial_ranking.name, station_path(commercial_ranking.id) %></td>
<td><%= link_to entertainment_ranking.name, station_path(entertainment_ranking.id) %></td>
<td><%= link_to security_ranking.name, station_path(security_ranking.id) %></td>
<td><%= link_to nature_ranking.name, station_path(nature_ranking.id) %></td>
