<div class="container">
  <h1 class="my-5"><%= @station.name %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">レビュー投稿</h5>
          <div>
            <%= link_to "投稿フォームへ", new_station_comment_path(@station.id), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">平均評価</h5>
        </div>
        <ul class="list-group list-group-flush">
          <%= render 'average-list', category: @categories[0], rate_sum: @each_rate_sum[1], comments_count: @each_comments_count[1] %>
          <%= render 'average-list', category: @categories[1], rate_sum: @each_rate_sum[2], comments_count: @each_comments_count[2] %>
          <%= render 'average-list', category: @categories[2], rate_sum: @each_rate_sum[3], comments_count: @each_comments_count[3] %>
          <%= render 'average-list', category: @categories[3], rate_sum: @each_rate_sum[4], comments_count: @each_comments_count[4] %>
          <%= render 'average-list', category: @categories[4], rate_sum: @each_rate_sum[5], comments_count: @each_comments_count[5] %>
        </ul>
        <div class="card-body">
          <p>星マークの数は平均評価の小数点以下を四捨五入して表示しています。</p>
        </div>
      </div>
    </div>
    <div class="col-8">
      <% if @station.comments.present? %>
        <% @station.comments.each do |comment| %>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title col-2"><%= comment.category.name %></h5>
                <div class="col-10">
                  <% comment.rate.times do %>
                    <i class="fas fa-star text-warning"></i>
                  <% end %>
                </div>
              </div>
              <p class="card-text"><%= comment.content %></p>
              <footer class="row blockquote-footer float-right mx-1">
                <div class="mr-3"><%= comment.created_at.strftime("%Y/%m/%d") %></div>
                <div>投稿者 <%= comment.user.nickname %></div>
              </footer>
            </div>
          </div>
          <br/>
        <% end %>
      <% else %>
        <p>レビューが投稿されていません</p>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to "戻る", root_path, class: "btn btn-secondary btn-sm mx-auto d-block", style: "width: 100px;" %>
</div>