<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Rate</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% @station.comments.each do |comment| %>
      <tr>
        <td><%= comment.rate %></td>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# <%= link_to 'Edit', edit_station_path(@station) %> 
<%= link_to 'Back', stations_path %>
