<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @comment.rate %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Rent price:</strong>
  <%= @comment.rent_price %>
</p>

<p>
  <strong>Floor plan:</strong>
  <%= @comment.floor_plan %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
